.Rproj.user
.Rhistory
.RData
.Ruserdata
apo-sub-2.Rproj

# MacOS
.DS_Store

# LaTeX
*.log
*.aux
*.out
analysis/analysis.tex
publication/publication.tex
publication/publication.pdf
publication/publication_files/

# Other
data/HWSD2_RASTER/
data/HWSD2.mdb
data/HWSD2.sqlite
tmp.xlsx
output/
*.csv
*.rds
*.png
*.pdf
tests/
latex/library_APO-SUB-2.bib.sav

