.Rproj.user
.Rhistory
.RData
.Ruserdata
apo-sub-2.Rproj
plots/
interm/

# MacOS
.DS_Store

# LaTeX
*.log
*.aux
*.out
publication/publication.tex
publication/publication.pdf
publication/publication_files/

# Other
data/HWSD2_RASTER/
data/HWSD2.mdb
data/HWSD2.sqlite
tmp.xlsx
